<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target type='WebService'
                name='ws'
                url='http://nlogdemo.industrie-union.org/LogAnalyzerWS/index.php'
                protocol='HttpPost'
                encoding='UTF-8'   >
            <parameter name='Token'      type='System.String' layout='0x8x15'/> 
			<parameter name='Project'    type='System.String' layout='NLog_Target_Tester'/> 
            <parameter name='AppName'    type='System.String' layout='${processname}'/> 
            <parameter name='Exception'  type='System.String' layout='${exception:format=tostring}'/>
			<parameter name='Level'      type='System.String' layout='${level:upperCase=true}'/>
			<parameter name='Message'    type='System.String' layout='${message}'/>
			<parameter name='StackTrace' type='System.String' layout='${stacktrace}'/>
			<parameter name='TimeStamp'  type='System.String' layout='${date:format=yyyy-MM-dd HH\:mm\:ss}'/>
        </target>
    </targets>
    <rules>
      <logger name='*' writeTo='ws'></logger>
    </rules>
</nlog>